body {
    margin: 0;
    background: white;
    font-family: HoloLens MDL2 Assets;
}

.container {
    width: 1440px;
    height: 1024px;
    position: relative;
}

.header {
    width: 1440px;
    height: 130px;
    background: linear-gradient(90deg, #D9D2AC 0%, white 25%);
    border-radius: 50px;
    position: absolute;
}

.login-box,
.password-box {
    width: 500px;
    height: 75px;
    background: #D9D9D9;
    position: absolute;
    z-index: 0
    ;
}


.email-label,
.password-label {
    color: rgba(0, 0, 0, 0.30);
    font-size: 35px;
    position: absolute;
    z-index: 1
    ;
}

.email-label {
    left: 490px;
    top: 333px;
}

.password-label {
    left: 490px;
    top: 448px;
}

.password-box {
    left: 470px;
    top: 430px;
}


.login-box {
    left: 470px;
    top: 315px;
}

.login-title {
    left: 485px;
    top: 255px;
    font-size: 35px;
    position: absolute;
    color: black;
}

.register-text {
    width: 465px;
    height: 70px;
    left: 470px;
    top: 634px;
    position: absolute;
    font-size: 35px;
}

.register-link {
    color: #6A9AF3;
}

.login-button {
    width: 200px;
    height: 75px;
    left: 620px;
    top: 535px;
    position: absolute;
    background: #9EE28D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 5px black solid;
}

.login-button-text {
    width: 81px;
    height: 31px;
    left: 685px;
    top: 550px;
    position: absolute;
    font-size: 24px;
    text-transform: capitalize;
    color: black;
}

.divider {
    width: 1340px;
    height: 0px;
    left: 56.5px;
    top: 129px;
    position: absolute;
    border: 1px solid black;
}

.menu-box,
.orders-box,
.account-box,
.cart-box {
    height: 80px;
    position: absolute;
    border-radius: 50px;
    border: 5px #D9D2AC solid;
}

.menu-box {
    width: 160px;
    left: 430px;
    top: 25px;
    background: linear-gradient(90deg, #D9D2AC 0%, white 75%);
}

.orders-box {
    width: 180px;
    left: 640px;
    top: 25px;
    background: linear-gradient(90deg, #D9D2AC 0%, white 75%);
}

.account-box {
    width: 180px;
    left: 870px;
    top: 25px;
    background: linear-gradient(90deg, rgba(2.13, 73.04, 255, 0.67) 0%, rgba(221, 230.53, 255, 0.67) 100%);
    border: 5px black solid;
}

.cart-box {
    width: 260px;
    left: 1100px;
    top: 25px;
    background: linear-gradient(90deg, #D9D2AC 0%, white 75%);
}

.menu-text,
.orders-text,
.account-text,
.cart-text {
    font-size: 20px;
    color: black;
    position: absolute;
}

.menu-text {
    left: 458px;
    top: 52px;
}

.orders-text {
    width: 100px;
    left: 650px;
    top: 45px;
    text-align: center;
    text-transform: capitalize;
}

.account-text {
    width: 90px;
    left: 895px;
    top: 45px;
}

.cart-text {
    width: 142px;
    left: 1120px;
    top: 45px;
    text-align: center;
    text-transform: capitalize;
}

.menu-icon,
.orders-icon,
.cart-icon {
    width: 60px;
    height: 60px;
    position: absolute;
}

.menu-icon {
    left: 512px;
    top: 35px;
}

.orders-icon {
    left: 750px;
    top: 35px;
}

.cart-icon {
    left: 1270px;
    top: 35px;
}

.user-icon {
    width: 60px;
    height: 60px;
    left: 980px;
    top: 38px;
    position: absolute;
}

.logo-circle {
    width: 80px;
    height: 80px;
    left: 20px;
    top: 25px;
    position: absolute;
    background: linear-gradient(180deg, #FFE100 0%, #FFFBDB 82%, #4277FF 100%);
    border-radius: 9999px;
}

.logo-icon {
    width: 71px;
    height: 71px;
    left: 25px;
    top: 29px;
    position: absolute;
}

.brand-text {
    width: 210px;
    height: 36px;
    left: 100px;
    top: 50px;
    position: absolute;
    font-size: 24px;
    font-family: ISOCTEUR;
    text-transform: capitalize;
    color: black;
}